=simple_form_for([:admin, project, project_info], html: {autocomplete: 'off'}) do |f|
  .row
    .col-lg-6
      =f.input :title, input_html: { autocomplete: 'off' }
    .col-lg-6
      =f.input :password, input_html: { autocomplete: 'off' }
  .text-muted
    =link_to 'Markdown', 'https://help.github.com/articles/markdown-basics/', target: '_blank'
  =f.input :info, input_html: { value: project_info.decrypted_info(params[:password]), rows: 30 }
  =f.submit class: 'btn btn-success'