=simple_nested_form_for([project, comment], html: {multipart: true, autocomplete: 'off'}) do |f|
  .row
    .col-lg-4
      =f.input :title, input_html: { autocomplete: 'off' }
    .col-lg-4
      =f.input :form
    .col-lg-4
      =f.input :password, input_html: { autocomplete: 'off' }
  .text-muted
    =link_to 'Markdown', 'https://help.github.com/articles/markdown-basics/', target: '_blank'
  =f.input :info, input_html: { value: comment.decrypted_info(params[:password]), rows: 30 }
  =f.simple_fields_for :attaches do |p|
    =p.input :title
    =p.input :attachment
    =p.link_to_remove 'Delete this attach'
  p =f.link_to_add "Add a file", :attaches
  =f.submit class: 'btn btn-success'