<h1>Project: <%= @project.name %></h1>
<p>
  Description: <%= @project.description %><br>
</p>
<p>
  To show info about project just follow <%= link_to 'this link', project_url(@project) %>.
</p>
<p>Have a nice day!</p>
