=simple_form_for customer do |f|
  =f.input :name
  =f.input :subject, as: :select, collection: Customer.subjects.keys, label_method: lambda { |subject| t("simple_form.options.customer.subject.#{subject}") }
  =f.input :profile, as: :select, collection: Customer.profiles.keys, label_method: lambda { |profile| t("simple_form.options.customer.profile.#{profile}") }
  =f.input :url
  =f.input :source
  =f.input :describe
  =f.input :technology_list
  =f.association :contacts, label_method: :full_name, collection: Contact.free
  =f.button :submit, class: 'btn-success'