div ng-controller='ProjectShowController'
  h1
    =@project.name
    '
    small=@project.customer.name
  .row
    .col-lg-3
      =render 'admin/projects/users_panel', project: @project
      =render 'admin/projects/info_panel', project: @project
      =render 'admin/projects/export'
    .col-lg-9
      =render 'admin/projects/tasks_panel', tasks: @related_tasks

  =render 'shared/password_modal'