<%= wiki_page_style -%>

<h1><%=wt 'All pages' %></h1>

<div class='island'>
  <ul>
    <% wiki_paginate @pages do -%>
      <% @pages.each do |page| -%>
        <li><%= link_to page.title, wiki_page_path( page ) %></li>
      <% end -%>
    <% end -%>
  </ul>
</div>
<p>
  <%= link_to "New page", new_wiki_page_path %>
</p>
