body {
  margin: 0px;
}

div#main {
  padding-top: 60px;
}

.datepicker-inline {
  display: none !important;
}

input.form-control.inline {
  width: 40%;
  display: inline-block;
}

.form-group.dates {
  .btn {
    margin-left: 10px;
    margin-right: 10px;
  }
}

span.badge {
  &.importance-1 {
    background-color: #999BA9
  }

  &.importance-2 {
    background-color: #46908A
  }

  &.importance-3 {
    background-color: #FCE203
  }

  &.importance-4 {
    background-color: #f89406
  }

  &.importance-5 {
    background-color: #b94a48
  }
}

div.form-group.boolean {
  margin-left: 20px;
}

ul.users {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  max-width: 80px;

  li {
    padding: 0;
    margin: 0;
    margin-right: 15px;
  }

  div.user {
    img {
      display: block;
      margin-right: auto;
      margin-left: auto;
    }
    text-align: center;
    word-wrap: break-word;
  }
}

table.project-info {
  width: 100%;
  td:first-child {
    width: 10%;
  }
  td:last-child {
    width: 25%;
  }
}

.task-row {
  line-height: 32px;
}