body {
  margin: 0px;
  background-color: #E1E0DE !important;
}

div#main {
  padding-top: 60px;
}

.datepicker-inline {
  display: none !important;
}

input.form-control.inline {
  width: 40%;
  display: inline-block;
}

.form-group.dates {
  .btn {
    margin-left: 10px;
    margin-right: 10px;
  }
}

span.badge {
  &.importance-1 {
    background-color: #999BA9
  }

  &.importance-2 {
    background-color: #46908A
  }

  &.importance-3 {
    background-color: #FCE203
  }

  &.importance-4 {
    background-color: #f89406
  }

  &.importance-5 {
    background-color: #b94a48
  }
}

div.form-group.boolean {
  margin-left: 20px;
}

ul.users {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  max-width: 80px;

  li {
    padding: 0;
    margin: 0;
    margin-right: 15px;
  }

  div.user {
    img {
      display: block;
      margin-right: auto;
      margin-left: auto;
    }
    text-align: center;
    word-wrap: break-word;
  }
}

table.project-info {
  width: 100%;
  th{
    text-align: center;
  }
  td{
    text-align: center;
  }
  td:first-child {
    width: 10%;
  }
  td:last-child {
    width: 25%;
  }
}

.island {
  background-color: #F4F4F4;
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 25px;

  h4 {
    font-weight: 600;
    margin: 0 0 15px;

    a {
      color: #2f65a7;
      outline: 0 !important;

      &:hover {
        text-decoration: none;
        color: #333;
      }
    }

    .btn-group {
      margin-left: 20px;
      a {
        color: #333333;
      }
    }
  }

  &.project {
    height: 132px;
    position: relative;

    .avatar {
      margin: 2px
    }

    .project-image {
      width: 85px;
      height: 85px;
      margin-right: 15px;
    }

    canvas {
      position: absolute;

      left: 400px;
      top: 10px;
    }
  }


  &.user {
    width: 230px;
    height: 230px;
    display: block;
	float: left;
    margin: 0 10px 20px;

    img {
      margin: 0 auto;
      display: block;
    }

    h4 {
      text-align: center;
      margin-top: 10px;
    }

    h5 {
      margin-top: 10px;
    }
  }
}

h1.nav-header {
  font-weight: 600;
}

.strong {
  font-weight: bold !important;
}

.text-muted-dark {
  color: #a2a2a2;
}

.align-right {
  text-align: right;
}

.widget {
  line-height: 20px;
  white-space: nowrap;

  .glyphicon {
    top: 2px;
    margin-right: 3px;
  }
}

.user-list {
  // -webkit-column-count: 4;
  // -moz-column-count: 4;
  // -column-count: 4;
  margin: 0 -10px;
}

.island.task-search {
  .row {
    margin-left: 2px;
  }
}



.island.sidebar {
  margin-top: 69px;

  canvas#iteration-stat-chart {
    width: 100%;
    height: 100%;
  }
}

.sidebar {
  margin-top: 39px;
}

.task-row {
  line-height: 32px;
}

.pretty th {
  padding-right: 12px;
}

.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.pretty th .asc {
  background-image: image_url('up_arrow.gif');
}

.pretty th .desc {
  background-image: image_url('down_arrow.gif');
}

.bg-gray {
  background-color: #DFDFDF;
}

td.table-name {
  max-width: 300px;
}

.bestinplace_style{
  max-width: 30px;
}

.previous_page{
	position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #428bca;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.pagination{
	a{
		position: relative;
	    float: left;
	    padding: 6px 12px;
	    line-height: 1.42857143;
	    text-decoration: none;
	    color: #428bca;
	    background-color: #fff;
	    border: 1px solid #ddd;
	    margin-left: -1px;
	}
}

.next_page{
	position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #428bca;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.current{
	position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #428bca;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
}

.next{
	position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #428bca;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
}
