table.table.time-entries-table {
  th:first-child {
    width: 15%;
  }

  th:last-child {
    width: 10%;
  }

  th:nth-child(2){
    width: 65%;
  }
}
.margin-t-b{
	margin-top: 15px;
	margin-bottom: 5px;
}