h1.nav-header=t('user.headers.edit')
.island
  =simple_form_for([:admin, @user]) do |f|
    .row
      .col-lg-6
        h2=t('simple_form.labels.user.private_data')
        =f.input :first_name
        =f.input :last_name
        =f.input :birth_date, as: :date_picker

        =f.input :email
        =f.input :password
        =f.input :password_confirmation
      .col-lg-6
        h2=t('simple_form.labels.user.enterprise_data')
        =f.input :position
        =f.input :salary
        =f.input :official_salary
        =f.input :hire_date, as: :date_picker
        =f.input :fire_date, as: :date_picker

        =f.input :inn
        =f.input :snils
    =f.button :submit, class: 'btn-success'