aside.island.sidebar
  -if can? :create, TimeEntry
    =link_to new_task_path, class: 'btn btn-default' do
      =glyph(:plus)
      '
      =t('task.headers.create')
  -if user_signed_in? && current_user.developer?
    =render('layouts/statistics')